<h1> Directorio para mascotas </h1>
<div class="table-striped table-responsive">
  <table class="table">
    <thead>
    <th>Lugar             </th>
    <th>Descrici贸n             </th>
    <th>Direcci贸n              </th>
    <th>Mapa              </th>
    <th>Calificaci贸n              </th>
    </thead>
    <tbody>
      <% @locations.each do |location|%>
        <tr>
        <td><%= location.name %></td>
        <td><%= location.description %></td>
        <td><%= location.address %></td>
          <% unless location.latitude.nil? && location.longitude.nil? %>
            <td>
              <!-- <%= image_tag "http://maps.google.com/maps/api/staticmap?size=150x150&sensor=false&zoom=14&markers=#{location.latitude}%2C#{location.longitude}" %> -->
            </td>
          <%end%>
        <td><%= location.rating %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
  <%= link_to "Agregar ubicaci贸n",
  new_location_path,
  class: 'btn btn-default btn-sm'%>
</div>
